<!DOCTYPE html>
<!-- Using JinJa2 Templating -->
<!-- This is the base template all other html files inherit from -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
	<link rel="script" href="{{ url_for('static', filename='main.js') }}" />
	
	<!-- chart.js used as the graphing library -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	
	<title>{% block title %}{% endblock %}</title>

	{% block head %} {% endblock %}
</head>
<body>
	{% block body %} {% endblock %}
</body>
</html>
