body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	color: #FFFFFF;
	background-color: #00467F;
	padding: 2%;
}

header h1 {
	margin: 0;
	padding: 0;
}

header img {
	width: 25%;
}

canvas {
	width: 40%;
	height: 20%;
}
